/*This is my separate styles sheet*/

head {
text-transform: cursive;
}
 
#header {
  font-family: sans-serif;
  color: maroon;
}

nav {
  width: 100vw;
  font-family: sans-serif;
  background-color: white;
  background-attachment: scroll;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  width: 130px;
  float: left;
  margin: 0 2vw;
  font-size: 3vh;
  border: 7px solid #76E3DF;
}

a {
  text-decoration: none;
  padding: 2vw;
  color: gray;
  font-family: monospace;
}

a:hover{
  background-color: white;
  color: gray;
}

#mainMenu {
  background-color: gray;
  text-shadow: transparent;
}

body {
  margin: 0;
  background-image: url("https://i.pinimg.com/originals/9d/d8/c9/9dd8c92970680cbc6fb7064651703c49.jpg");
  background-attachment: scroll;
}

p { 
  padding: 20px;
  margin: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #369e98;
  background: linear-gradient(to bottom, white, blue);
  color: white;
}
