/*This is my separate styles sheet*/

head {
  text-transform: cursive;
  }
  .header {
    font-family: sans-serif;
    color: maroon;
  }
  
  ol,ul {
    list-style: none ltr;
  }

  #mainMenu {
    margin: 10px;
    width: 900px;
    font-family: sans-serif;
  }

  #mainMenu li {
    display: block;
    width: 120px;
    float: left;
    margin-left: 2px;
    border: 1px solid #000;
  }

  #mainMenu a {
    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #009;
  }

  #mainMenu a:hover {
    background-color: #009;
    color: #fff;
  }

  #mainMenu {
    background-color: #5F9EA0;
  }
}

 
}

body {
  background-image: url('https://3.bp.blogspot.com/-nyIW6-eJptU/XFu8UlSiyiI/AAAAAAAAFKo/k6L3mjdaGiwn14FPcTA8PpTHPN6lYVY3ACHMYCw/s1600/black-background-wood-%25E2%259D%25A4-4k-hd-desktop-wallpaper-for-4k-ultra-hd.jpg');
  background-attachment: scroll;
  background-color: #C0C0C0;
  padding-left: 11em;
  padding-right: 20em;
  font-family: Georgia, Times New Roman, serif; 
  color: white;
}

p {
    padding: 20px;
    margin: 20px;
    border-style: solid;
  }
  .text-color{
    color: #17202A;
    background-color: white;
    }
  .border-color {
    border-style: solid;
    border-width: 10px;
    border-color: #369e98;
    }
  .background-color {
    background-color: #C0C0C0;
    color: black;
    }
  .background-gradient {
    background: linear-gradient(to bottom right, black, green);
    color: white;
  }
}

